body {
    margin: 0;
    height: 100vh;
    font-family: "Segoe UI", Arial, sans-serif;

   
    background-image: url('https://wallpaperaccess.com/full/8607606.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgba(190, 6, 6, 0.137); 
    backdrop-filter: blur(10px);          
    
    padding: 30px;
    border-radius: 20px;
    width: 380px;
    text-align: center;

    
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: rgb(185, 44, 44); 
}


button {
    background: #a74601;
    color: #030303;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}



input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 12px;
    outline: none;
}


#result {
    color: #ecbbbb;
    margin-top: 10px;
    font-weight: 500;
}

#hoverPara {
    margin-top: 20px;
    color: #ce0d0d;
    font-size: 16px;
    transition: color 0.3s ease;
}